.game {
  display: grid;
  width: 75%;
  height: 90%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  grid-template-rows: 13% 20% 43% 5%;
  grid-template-areas:
    "top-panel top-panel top-panel top-panel"
    "question question question question"
    "answer answer description description"
    "button button button button";
  position: absolute;
  

    @media screen and (max-width:1920px) {
      width: 75%;
    }

    @media screen and (max-width:1650px) {
      width: 90%;
    }

    @media screen and (max-width:1200px) {
      height: 95%;
      grid-template-rows: 13% 20% 54% 5%;
    }

    @media screen and (max-width:880px) {
      height: 97%;
      grid-template-areas:
      "top-panel top-panel top-panel top-panel"
      "question question question question"
      "answer answer answer answer"
      "description description description description"
      "button button button button";
      grid-template-rows: 12% 17% 12% 42% 5%;
    }

    @media screen and (max-width:680px) {
      height: 100%;
      grid-gap: 1rem;
      grid-template-rows: 11% 22% 10% 43% 5%;
    }

    // &__substrate {
    //   position: fixed;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   z-index: -1;
    //   object-fit: cover;
    //   background: url(../src/img/main_background.jpg) no-repeat center top;
    //   background-size: cover;
    //   filter: blur(2px) brightness(0.5) opacity(0.6);
    // }

  &_hide {
    transform: translate(150%);
  }

  &_hide2 {
    transform: translate(-150%);
  }
}
