
.main {
  display: flex;
  justify-content: center;
}


.gallery {
  display: grid;
  margin: 5rem 0 10rem;
  justify-content: center;
  width: 80vw;
  top: 5%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 2rem auto;
  }

  .bird-container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    color: $text;
    background: $background;
    border: 1px solid rgba(255, 174, 0, 0.9);
    border-radius: 10px;

    @media screen and (max-width: 600px) {
      width: 60%;
      height: 400px;
      margin: 0 auto;
    }

    &__image {
      width: 150px;
      height: 120px;
      margin-bottom: 15px;
      border: 3px solid rgba(255, 174, 0, 0.9);
      border-radius: 10px;

      @media screen and (max-width: 600px) {
        width: 100px;
        height: 80px;
        margin: 5px auto;
      }
    }

    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;

      &__bird-name {
        font-size: 1.7rem;
        line-height: 2.5rem;
        border-bottom: 1px solid rgba(255, 174, 0, 0.7);

        @media screen and (max-width: 600px) {
          font-size: 1.4rem;
          line-height: 2.2rem;
        }
      }

      .sound-box {
        display: flex;
        margin: 10px;
        align-items: center;

        @media screen and (max-width: 880px) {
          justify-content: center;
        }


  
        &__playback-btn {
          margin-right: 1.4rem;
          min-width: 27px;
          min-height: 27px;
          background: url(../src/img/play_button.svg) no-repeat;
          cursor: pointer;
          transition: 0.2s ease-in;
    
          @media screen and (max-width: 680px) {
            margin-right: 1.2rem;
          }
        }
    
        &__pause-btn {
          transition: 0.2s ease-in;
          background: url(../src/img/pause_button.svg) no-repeat;
        }
  
        .progress {
          position: relative;
          margin-top: 18px;

          @media screen and (max-width: 600px) {
            margin-top: 15px;
          }

          &__timebar {
            width: 120px;
            height: 10px;
            background: #c0b73569;
            border-radius: 10px;
            cursor: pointer;
        
            @media screen and (max-width: 600px) {
              width: 80px;
            }
        
            &::-webkit-progress-bar {
              background:#c0b73569;
              border-radius: 10px;
            }
        
            &::-webkit-progress-value {
              background:#60d443;
              border-radius: 10px;
            }
  
          }
  
          &__slider {
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background:#ffae00;
            transform: translate(-50%,0);
            cursor: pointer; 
            background:#fcc346;
          }

          .time-wrapper {
            color: $text;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            @media screen and (max-width: 600px) {
              font-size: 0.8rem;
            }
          }
        }
    
        &__volume-image {
          margin-left: 1.2rem;
          min-width: 27px;
          min-height: 27px;
          background: url(../src/img/volume_up.svg) no-repeat;
          background-size: 100%;
          cursor: pointer;
          transition: 0.2s ease-in;
    
          @media screen and (max-width: 880px) {
            margin-left: 1rem;
          }
        }
    
        &__mute-image {
          background: url(../src/img/volume_mute.svg) no-repeat;
          background-size: 100%;
        }
    
        &__volume {
          -webkit-appearance: none;
          margin-right: 15px;
          width: 70px;
          height: 10px;
          background: #c0b73569;
          border-radius: 10px;
          margin-left: .5rem;
    
          @media screen and (max-width: 880px) {
            width: 80px;
          }
    
          @media screen and (max-width: 480px) {
            width: 60px;
          }
    
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background: orange;
            cursor: pointer;
          } 
        }
      }
    }

    .bird-container__text {
      width: 500px;
      text-align: center;
      margin: 0 auto;
      height: 100%;

    }
  }

}






.footer {
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  &__wrapper {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 880px) {
      height: 5vh;
    }
  }
}
